
<fieldset>
	<div class="signup-form-block">
		<div class="row">
			<%= form_tag sessions_path,:class =>"form-horizontal",:role =>'form' do %>

				<div class="col-md-4 col-sm-4 ">
					<input type="text" placeholder="用户名" class="form-control input-lg input-bigger" name="name" id="name" value="" autofocus="">

				</div>

				<div class="col-md-4 col-sm-4 ">
					<input type="password" placeholder="密码" class="form-control input-lg input-bigger" name="password" id="password" value="">

					<div id="password_icon" class="checkpswd btn-danger"></div>
				</div>

				<div class="col-md-4 col-sm-4">

					<button type="submit" id="validation" class="btn btn-lg btn-block btn-success btn-uppercase btn-bigger">登 陆</button>
				</div>

			<% end %>
		</div>
	</div>
</fieldset>


