<div class="container">

	<div class="ideas-list">
		<h1>一、ProductGaga是什么？<h1>
		<h2>一句话介绍</h2>
		<p>300元帮你实现产品MVP，寻找初期用户。</p>

		<h2>详细介绍</h2>
		<p>1. 为创业者提供朋友圈众筹的平台，并帮助实现产品，寻找初期用户，迭代，盈利。</p>
		<p>2. <span>产品的所有权都归创业者及其朋友所有</span>，Productgaga将通过合同保障创业者利益。</p>


		<h1>二、ProductGaga提供的服务？<h1>

		<h2>如何帮助您实现想法？</h2>
		<p>所有新想法的产品实现都将经历三个阶段，“Think It（思考）”，“Build It（构建）”，“Ship It（发布）”</p>
		<p>1. Think It： 明确我们在打造何种产品，为什么，如何盈利。</p>
		<p>2. Build It： 开发出最小可行性产品 (MVP)。</p>
		<p>3. Ship It： 将产品向全部用户逐步慢慢铺开，数据监控，并持续提升产品。</p>

		<h2 id="aboutusphase1">第一阶段（Think）阶段<small> 初级合伙人筛选</small></h2>

		<p>1. <em><strong>创始人：</strong></em>输入新想法的名称，一句话简介，简单描述，并发送给您可靠的朋友们。</p>
		<p>2. <em><strong>您的朋友们：</strong></em>理解您的想法，提供建议，投资300元，成为初级合伙人。</p>
		<p>3. <em><strong>Productgaga: </strong></em>集齐3000元种子基金，将提供如下服务：</p>

		<blockquote>
		<p>a. 签署创业者和Productgaga合作合同。－ <span>确保该创意所有权益皆属于创业者们所有。</span></p>	
		<p>b. 提供创业者和朋友们的《股权分配协议》合同。－ <span>亲兄弟，明算账。避免日后法律纠纷是非多。</span></p>	
		<p>c. 域名购买 － <span>早期注册域名，避免域名被抢，受人牵制。</span></p>		
		<p>d. 服务器租用 半年以上 － <span>早期百度占坑，搜索更加靠前。</span></p>
		<p>e. 电子邮件租用 半年以上 － <span>官方邮件地址更显专业、大气。</span></p>		
		<p>f. 主页设计并实现 － <span>方便验证、推广想法，即可开始选择早期用户。</span></p>		
		<p>g. 博客设计并实现 － <span>随时随地和您的用户沟通。</span></p>						
		</blockquote>

		<h2>第二阶段（Build）阶段<small> 高级合伙人筛选</small></h2>

		<p>1. <em><strong>创始人：</strong></em>从网站初期用户反馈，从合伙人沟通，确定要实现的产品最小功能集合(MVP)。</p>
		<p>2. <em><strong>初级合伙人：</strong>协助分析，否决，赞同，并最终生成MVP，投资2000元，成为高级合伙人。</em></p>
		<p>3. <em><strong>Productgaga: </strong></em>集齐10000元种子基金，将提供如下服务：</p>

		<blockquote>
		<p>a. 个性化功能设计及实现 － <span>根据您的个性化产品最小功能集，进行功能实现。</span></p>		
		<p>b. 通用功能实现－ <span>会员注册、登陆、常见问答、关于我们等</span></p>	
		<p>c. 社交平台功能实现。－ <span>微博、微信公众号注册及维护。</span></p>	
		<p>d. 搭建产品运营状态监控机制。- <span>查看网站每日访问量、地区等分析报告。</span></p>
		</blockquote>

		<h2>第三阶段（Ship）阶段<small> 高级合伙人磨合</small></h2>

		<p>1. <em><strong>创始人：</strong></em>成立公司，接触投资人，吸引第一批外部投资。</p>
		<p>2. <em><strong>高级合伙人：</strong>协助您完成产品继续测试、跟踪数据、改善产品。</em></p>
		<p>3. <em><strong>Productgaga: </strong></em></p>

		<blockquote>
		<p>a. 联系投资人 － <span>将您产品的介绍，运营状态推荐给国内著名天使投资人。</span></p>		
		<p>b. 日常产品开发、运营、问题维护。 - <span>产品刚刚上路，用户的问题一定要及时反馈，改正哦。</span></p>
		</blockquote>

		<h1 id="juniorparterintro">三、参与想法投资后我将得到什么？<h1>

		<h2>投资这个想法300元我将得到什么？<small>成为初级合伙人的权益</small></h2>

		<p><em><strong><u>1. 投的钱干嘛用？</u></strong></em></p>
		<p>和其他朋友一起，共3000元，给想法创始人，他将和Productgaga合作，完成<a href="#aboutusphase1">第一阶段(Think)的工作。</a></p>

		<p><em><strong><u>2. 我投钱后，会得到什么？</u></strong></em></p>

		<blockquote>
		<p>a. 知情权和检察权 － <span>筹集3000元后，非初级合伙人将被关在门外，无法得知想法商业化进展。</span></p>		
		<p>b. 股权分配 - <span>将拥有未来公司的创业原始股 1% 。</span></p>
		<p>c. 优先投资权 - <span>优先于非合伙人参与股权投资。</span></p>

		</blockquote>

		<p><em><strong><u>3. 有什么保障？</u></strong></em></p>
		<p>初级合伙人召集起后，将会发起合同签署，保障想法发起者以及合伙人的权利和义务。</p>

	</div>

		<%#= link_to '申请邀请码', /static_pages/invitecode,class:"btn btn-lg btn-danger" %>     
	<div class="aboutusinvite">	
        <a href="/static_pages/invitecode" class="btn btn-lg btn-primary">
          申请邀请码
        </a><br \>
        <small>已被邀请的话，则无需再申请。</small>

    </div>    
</div>





