<div class="jumbotron">
	<div class="container">
	<h1>海外钱包 MVP</h1>
	<p>
	  旨在针对海外钱包，检验创意，寻找初期用户，推出MVP，迭代。  
	</p>
<!--	<p><a class="btn btn-primary btn-lg" role="button">进 入</a></p>	-->
    <p><%= link_to "进 入", signin_path, class:"btn btn-primary btn-lg",role:"button" %></p>
	</div>
</div>