<table class="table">
  <thead>
    <tr>
      <th>初级合伙人-inviteid</th>
      <th>种子用户email</th>
    </tr>
  </thead>

  <tbody>
    <% teasersets.each do |teaserset| %>
      <% if(!teaserset.email.blank?)  %>
        <tr>
          <td><%= teaserset.inviter_id %></td>
          <td><%= teaserset.email %></td>
        </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<!--
        <td><%#= comment.body %></td>
        <td><%#= link_to 'Show', comment %></td>
        <td><%#= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%#= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->        
