

<h2>5、种子用户 </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>初级合伙人-inviteid</th>
      <th>种子用户email</th>
    </tr>
  </thead>

  <tbody>
    <% i=1 %>
    <% teasersets.each do |teaserset| %>
      <% if(!teaserset.email.blank?)  %>
        <tr>
          <td><%= i %></td>
          <td><%= teaserset.inviter_id %></td>
          <td><%= teaserset.email %></td>
        </tr>
        <% i=i+1 %>
     <% end %>
    <% end %>
  </tbody>
</table>

