<h2 class="pdfremove"> 2、应用场景 </h2>

<table class="table table-hover pdfremove">
  <thead>
    <tr>
      <th></th>      
      <th>赞数</th>  
<!--      <th>Idea</th>		-->
      <th>场景介绍</th>


    </tr>
  </thead>

  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td>
          <div class="zanpart">
          <%= link_to '点赞', "#",class:"btn btn-success" %>
          
          </div>
        </td>

        <td>
          <div class="changjingauthor">
          <span class="badge">42</span>  
            <%#= comment.user.name %>
          </div>
        </td>
        
<!--        <td><%#= comment.idea_id %></td>	-->
        <td><%= comment.body %></td>

<!--        <td><%#= link_to 'Show', comment %></td>		

        <td><%#= link_to '修改', edit_comment_path(comment) %></td>
        <td><%#= link_to '删除', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->        
      </tr>
    <% end %>
  </tbody>
</table>

