
<table class="table table-hover pdfremove">
  <thead>
    <tr>
      <th></th>      
      <th style="width: 50px;">赞数</th>  
<!--      <th>Idea</th>		-->
      <th>场景介绍</th>


    </tr>
  </thead>

  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td>
          <div class="zanpart">
            <% if Changjingzan.where(user_id:current_user.id, comments_id: comment.id).empty? %>
              <%= link_to '点赞',{:controller=>"comments", :action =>"zan", :id =>comment.id}, class:"btn btn-success" %>
            <% else %>
              <%#= link_to '取消赞',{:controller=>"comments", :action =>"unzan", :id =>comment.id}, class:"btn btn-primary" %>
              <%= link_to '取消',{:controller=>"comments", :action =>"unzan", :id =>comment.id}, class:"btn btn-primary" %>
            <% end %>
          </div>
        </td>

        <td>
          <div class="changjingauthor">
          <span class="badge">
          <%= Changjingzan.where(comments_id: comment.id).count %>
          </span>  
            <%#= comment.user.name %>
          </div>
        </td>
        
<!--        <td><%#= comment.idea_id %></td>	-->
        <td><%= comment.body %></td>

<!--        <td><%#= link_to 'Show', comment %></td>		

        <td><%#= link_to '修改', edit_comment_path(comment) %></td>
        <td><%#= link_to '删除', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->        
      </tr>
    <% end %>
  </tbody>
</table>

