
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
<%= @mailcontent %>
    </p>

    <p>
    点击链接，看看我的想法，记得一定要提提建议啊！！     
    </p>

    <%= link_to "myidealink",@url %>

  </body>
</html>