
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
<%= @mailcontent %>
    </p>

    <p>想法名字叫 <%= @myidea.name %>
    </p>
    <p>
      你可以把他简单理解为 <%= @myidea.intro %>
    </p>

    <p>
    点击链接，看看这个想法的具体商业模型，记得一定要提提建议啊！！     
    </p>

    <%= link_to "myidealink",@url %>
    
  </body>
</html>