<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>
-->
<p>
  <strong>Idea:</strong>
  <%= @comment.idea_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%#= link_to 'Edit', edit_comment_path(@comment) %> 
<%#= link_to 'Back', :controller => "ideas", :action => "show", :id => @comment.idea_id %>
