

<h1><%= @user.name %>想法集</h1>

<%= render :partial=>"ideasindex",:locals=>{:uiships=>@user.user_ideaships.where(relationtype:"1"),
											:uishipreviewers=>@user.user_ideaships.where(relationtype:"0") }%>

<%#= render :partial=>"ideasindex",:locals=>{:ideas=>@user.ideas}%>
<%#= render :partial=>"ideasindex",:locals=>{:ideas=>Idea.all}%>