
<div class="container">


	<div class="user-share-part">
		<a class="btn btn-primary" href="/posts/new">分享新产品</a>
	</div>

	<div class="ideas-list">
	<h1>我的想法</h1>

	<%= render :partial=>"ideasindex",:locals=>{:uiships=>@user.user_ideaships.where(relationtype:"0") }%>

	<h1>朋友的想法</h1>
	<%= render :partial=>"friendideasindex",:locals=>{:uishipreviewers=>@user.user_ideaships.where(relationtype:"1") }%>

    </div>
</div>