
<div class="container">

<% flash.each do |key, value| %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>


	<div class="user-share-part">
		<h1>想法集</h1>
		<a class="btn btn-danger" href="/ideas/new">新想法</a>
	</div>

	<div class="ideas-list">
	<h2>我的想法</h2>

	<div class="myidealist">
	<%= render :partial=>"ideasindex",:locals=>{:uiships=>@user.user_ideaships.where(relationtype:"0") }%>


	<h2>朋友的想法</h2>
	<%= render :partial=>"friendideasindex",:locals=>{:uishipreviewers=>@user.user_ideaships.where(relationtype:"1") }%>
	</div>
	
    </div>
</div>