/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */


.navbar-default{
	border-top-color: white;
	border-left-color: white;
	border-right-color: white;
	border-bottom-color: #e7e7e7;
	background-color: white;
}

/*
.brand--logo {
width: 45px;
height: 45px;
float: left;
}

.brand--title{
	float: left;
	margin-left:20px;
}

.container-fluid{
background-color: white;
height:70px;
padding-left:0px;
margin-bottom: 10px;
}

.navbar-nav.navbar-right:last-child{
	margin-top: 18px;
}

.nav li a {
	font-size: 14px;
}
*/

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;

  float: left;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}


.svg-icon-reg {
  width: 6em;
  height: 6em;

  float: center;
}

.svg-icon-reg path,
.svg-icon-reg polygon,
.svg-icon-reg rect {
  fill: #4691f6;
}

.svg-icon-reg circle {
  stroke: #4691f6;
  stroke-width: 1;
}



.svg-icon-homepage {
  width: 1.5em;
  height: 1.5em;

  float: center;
  margin-top:5px;
}

.svg-icon-homepage path,
.svg-icon-homepage polygon,
.svg-icon-homepage rect {
  fill: white;
}

.svg-icon-homepage circle {
  stroke: #4691f6;
  stroke-width: 1;
}
