@import "bootstrap-sprockets";
@import "bootstrap";

.alert{
	margin-top:40px;
}

#nav {
	position: relative;
	z-index: 2;
	border-bottom: none;
	padding:20px 0;
}

#nav h1{
	margin: 0;
	padding: 0;
}

a.btn-outline-inverse{
	color:white;
}

.login-attractive {
border-width: 2px;
font-weight: 700;
text-transform: uppercase;
border-radius: 50px;
padding: 8px 18px;
background-color: rgba(255,255,255,.25) !important;
font-size: 14px;
}

.gallery-attractive {
	border-width: 2px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 12px 40px;
	font-size: 14px;
	margin-left: 8px;
}

.btn-red {
	background-color: #e67862;
	border: 1px solid #e1644f;
	color: #fff;
}

.navPublic a{
	color: white;
}

.navPublic a:visited{
	color: white;
}

.navPublic a span {
	margin-right: 5px;
}



#nav .navPublic .navTop {
	list-style: none;
	margin: 0;
	padding-top: 6px;
}

.navbar-default .navbar-nav > li > a{
	color:#428bca;
}

.container{
	width: 900px;
	padding-left: 0px;
}

.jumbotron{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom:0;
	overflow: hidden;
	max-height: 100%;
	background-image: url("/assets/hero-home03.jpg");
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-position: center;
}

.jumbotron .container {
position: relative;
height: 100%;
}

/*
.container-fluid{
	margin-left:100px;
	margin-right:100px;
}
*/

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
content: " ";
display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
clear: both;
}

.row {
margin-left: -15px;
margin-right: -15px;
}

.jumbotron .signupForm {
position: absolute;
top: 50%;
margin-top: -125px;
}

.jumbotron h1, .jumbotron h2 {
color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
text-align: center;
}

.jumbotron h1 {
font-size: 50px;
font-weight: bold;
line-height: 60px;
}

.jumbotron .signupForm h1 {
letter-spacing: -2px;
}

.jumbotron h2 {
font-style: italic;
font-weight: 300;
margin-top: 15px;
margin-right:auto; 
margin-bottom: 40px;
margin-left:auto;
}

fieldset {
padding: 0;
margin: 0;
border: 0;
min-width: 0;
}

.jumbotron .signup-form-block {
background-color: rgba(255,255,255,.25);
padding: 15px;
border-radius: 8px;
}

body{
-webkit-font-smoothing: antialiased;
}

.jumbotron .signupForm .input-bigger {
	height: 56px;
	padding: 10px 18px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-color: #fff;
}

.jumbotron .signupForm .btn-bigger {
	padding: 16px 16px;
	font-size: 17px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.user-share-part{
	margin-bottom:25px;
	line-height: 40px;
//	padding-right:30px;
//	padding-left:55px;

}

.user-share-part a{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif;
	font-size :14px;
	font-weight: bold;
	float:right;
	margin-top:20px;
//	margin-left:10px;
}

.user-share-part h1{
	font-size:28px;
	float:left;
//	margin-top:10px;
}

.user-share-part a:visited {
	color: white;

}


.ideas-brief-part{
	margin-bottom:0px;
	line-height: 40px;
	padding-right:30px;
	padding-left:55px;

}
.ideas-brief-part a{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif;
	font-size :14px;
	font-weight: bold;
	float:right;
	margin-top:10px;
	margin-left:10px;
}
.ideas-brief-part h1{
	font-size:28px;
	float:left;
	margin-top:10px;
}

.ideas-brief-part a:visited {
	color: white;

}


.ideas-list{
//	padding-left:55px;
	padding-top:20px;
}
.ideas-list h1{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif;
	font-size :24px;
	font-weight: bold;
	line-height: 44px;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
}

.ideas-list h2{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif;
	font-size :20px;
	font-weight: bold;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
}

.ideas-list p{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif;
	font-size :15px;
	-webkit-font-smoothing: antialiased;
}


.ideas-list a:visited {
	color:#428bca;
}

.ideas-list a:hover {
	background-color: white;
	color:#428bca;
}

.ideas-list a{
	color:#428bca;
}

.ideas-list a{
	margin-top:20px;
}


/*
.myidealist a:visited {
	color:#428bca;
}

.partnerbenefit a:visited {
	color:#428bca;
}

.businesscanvas a:visited {
	color:#428bca;
}

.invitedfriendspart a:visited {
	color:#428bca;
}


*/

.changjinglist a:visited {
	color:white;
}

.changjinglist a {
	color:white;
	margin-top:0;
}

.changjinglist a:hover {
	color:red;
}


.user-share-part .bluelink a{
	font-weight: normal;
	font-size: 13px;
	color:#428bca;	
}

.user-share-part .bluelink a:visited{
	color:#428bca;	
}

.user-share-part .bluelink a:hover{
	background-color: white;
	color:#428bca;
}

.ideas-list p span{
	color:red;
	font-style: italic;
	font-weight: normal;
	
}

.ideas-list blockquote{
	margin-top:20px;
	margin-left:60px;
}

.aboutusinvite{
	margin-top:50px;
	margin-bottom:50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.aboutusinvite a{
	text-align: center;
	margin-bottom:10px;
}
.aboutusinvite a:visited{
	color:white;
}

.userinvitenotice{
	margin-left: auto;
	margin-right: auto;
	text-align: center;	

}

.userinvitenotice a{
	margin-top:15px;
}
.userinvitenotice a:visited{
	color:white;
}

.canvas-type{
	font-size:16px;
}

.product-room{
	height: 74px;
}
.product-item{
list-style-type:none
}

.product-url a{
	font-weight: bold;
	font-size: 18px;
}


.product-url a:hover{
	text-decoration: none;
}


.product-url p{
	margin-top:3px;
	font-size: 14px;
	color:#747f8c;
}

.new_idea{
	margin-top:90px;
}
.new_idea .field label{
	font-size:16px;
}

.new_idea .field .form-control{
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
}

.help-block{
	font-size:14px;
	margin-top:0px;
	margin-bottom:10px;
	margin-left:0px;
}

.updatelink a{
	color:#428bca;
	font-size:14px;
	font-weight: normal;
	float:right;
}

.updatelink a:hover{
	background-color: white;
	color:#428bca;

}

.keyresource{
	height:200px;
}

/*
.glyphicon-star{
	font-size: 20px;
}
*/

#canvas-title{
	float:left;
}

.canvas-body{
	margin-top:55px;
}

#menu-toggle {
	font-size: 24px;
	float: left;
	margin-top:28px;
	margin-left:30px;
}

ol li .show .help-block p{
	margin-top:10px;
	margin-left: -25px;
}

.canvas-cell .show{
	margin-top:20px;
	margin-left:5px;
}

.canvas-cell .show p {
	font-size:13px;
}

.productabout p{
	margin-left:45px;

}

.productabout h2{
	margin-left:45px;

}

.badge a {
	color:white;
}

.badge a:visited {
	color:white;
}

.badge a:hover {
	color:black;
}

.changjingauthor .badge{
	margin-top:8px;
}

.page-keypart h1{
	font-family: Microsoft Yahei;
	text-align: center;
}
