// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#email_content{
	height:150px;
}

.canvas-table-attr {
	width:200px;
}

#canvas-download{
margin-top:20px;
}

.ideas-list a{
	margin-top:20px;
}

//the following is for the pdf print format

@media print {

a,.navbar-header,button,.pdfremove{
	display:none;
}



.content-container {

	background-color: white;
	padding: 0px;
	min-width: 960px;
	margin-left:-120px;
}


#content_area {
	z-index: 9;
	height: auto;
	overflow: hidden;
	min-height: 600px;
	width: 1024px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	padding: 0px 20px;
	margin: 12px auto
}



.canvas {
	position: relative;
	z-index: 9
}

.canvas #data {
	width: 800px
}

.canvas #data .info {
	background-color: #FFFBE8;
	padding: 16px;
	font-size: 80%;
	line-height: 18px;
	border: 1px solid #CCC;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px
}





.canvas.new .content-container .flash_notice,.canvas.edit .content-container .flash_notice {
	width: 25em
}


.canvas .area-title {
	color: #222
}

.canvas .area-title strong {
	color: #c77007
}

.canvas .content-container table.canvas,.snapshots .content-container table.canvas,.risks .content-container table.canvas,.canvas.wizard .content-container table.canvas,.experiments .content-container table.canvas {
	width: 98%;
	height: 580px;
	margin-bottom: 0em
}

.canvas .content-container table.canvas tr,.snapshots .content-container table.canvas tr,.risks .content-container table.canvas tr,.canvas.wizard .content-container table.canvas tr,.experiments .content-container table.canvas tr {
	height: 100%
}

.canvas .content-container table.canvas th,.canvas .content-container table.canvas td,.snapshots .content-container table.canvas th,.snapshots .content-container table.canvas td,.risks .content-container table.canvas th,.risks .content-container table.canvas td,.canvas.wizard .content-container table.canvas th,.canvas.wizard .content-container table.canvas td,.experiments .content-container table.canvas th,.experiments .content-container table.canvas td {
	border: none
}

.canvas .content-container table.canvas th,.snapshots .content-container table.canvas th,.risks .content-container table.canvas th,.canvas.wizard .content-container table.canvas th,.experiments .content-container table.canvas th {
	height: 2.2em;
	vertical-align: top;
	padding: 0
}

.canvas .content-container table.canvas td.area,.snapshots .content-container table.canvas td.area,.risks .content-container table.canvas td.area,.canvas.wizard .content-container table.canvas td.area,.experiments .content-container table.canvas td.area {
	vertical-align: top;
	border: 2px solid #000;
	background-color: #fff
}

.canvas .content-container table.canvas td.area table.cell-container,.snapshots .content-container table.canvas td.area table.cell-container,.risks .content-container table.canvas td.area table.cell-container,.canvas.wizard .content-container table.canvas td.area table.cell-container,.experiments .content-container table.canvas td.area table.cell-container {
	height: 100%;
	width: 100%;
	margin-bottom: 0
}

.canvas .content-container table.canvas td.area table.cell-container td,.snapshots .content-container table.canvas td.area table.cell-container td,.risks .content-container table.canvas td.area table.cell-container td,.canvas.wizard .content-container table.canvas td.area table.cell-container td,.experiments .content-container table.canvas td.area table.cell-container td {
	vertical-align: top
}

.canvas .content-container table.canvas td.area table.cell-container td.canvas-cell,.snapshots .content-container table.canvas td.area table.cell-container td.canvas-cell,.risks .content-container table.canvas td.area table.cell-container td.canvas-cell,.canvas.wizard .content-container table.canvas td.area table.cell-container td.canvas-cell,.experiments .content-container table.canvas td.area table.cell-container td.canvas-cell {
	position: relative;
	width: 100%;
	padding: 5px 0 0px 4px
}

.canvas .content-container table.canvas td.area table.cell-container td.bottom,.snapshots .content-container table.canvas td.area table.cell-container td.bottom,.risks .content-container table.canvas td.area table.cell-container td.bottom,.canvas.wizard .content-container table.canvas td.area table.cell-container td.bottom,.experiments .content-container table.canvas td.area table.cell-container td.bottom {
	height: 1.6em;
	vertical-align: bottom
}

.canvas .content-container table.canvas td.area .full-canvas-cell,.snapshots .content-container table.canvas td.area .full-canvas-cell,.risks .content-container table.canvas td.area .full-canvas-cell,.canvas.wizard .content-container table.canvas td.area .full-canvas-cell,.experiments .content-container table.canvas td.area .full-canvas-cell {
	height: 100%
}

.canvas .content-container table.canvas td.area #existing_alternatives h3,.canvas .content-container table.canvas td.area #existing_alternatives li,.canvas .content-container table.canvas td.area .canvas-cell#high_level h3,.canvas .content-container table.canvas td.area .canvas-cell#high_level li,.canvas .content-container table.canvas td.area .canvas-cell#early_adopters h3,.canvas .content-container table.canvas td.area .canvas-cell#early_adopters li,.snapshots .content-container table.canvas td.area #existing_alternatives h3,.snapshots .content-container table.canvas td.area #existing_alternatives li,.snapshots .content-container table.canvas td.area .canvas-cell#high_level h3,.snapshots .content-container table.canvas td.area .canvas-cell#high_level li,.snapshots .content-container table.canvas td.area .canvas-cell#early_adopters h3,.snapshots .content-container table.canvas td.area .canvas-cell#early_adopters li,.risks .content-container table.canvas td.area #existing_alternatives h3,.risks .content-container table.canvas td.area #existing_alternatives li,.risks .content-container table.canvas td.area .canvas-cell#high_level h3,.risks .content-container table.canvas td.area .canvas-cell#high_level li,.risks .content-container table.canvas td.area .canvas-cell#early_adopters h3,.risks .content-container table.canvas td.area .canvas-cell#early_adopters li,.canvas.wizard .content-container table.canvas td.area #existing_alternatives h3,.canvas.wizard .content-container table.canvas td.area #existing_alternatives li,.canvas.wizard .content-container table.canvas td.area .canvas-cell#high_level h3,.canvas.wizard .content-container table.canvas td.area .canvas-cell#high_level li,.canvas.wizard .content-container table.canvas td.area .canvas-cell#early_adopters h3,.canvas.wizard .content-container table.canvas td.area .canvas-cell#early_adopters li,.experiments .content-container table.canvas td.area #existing_alternatives h3,.experiments .content-container table.canvas td.area #existing_alternatives li,.experiments .content-container table.canvas td.area .canvas-cell#high_level h3,.experiments .content-container table.canvas td.area .canvas-cell#high_level li,.experiments .content-container table.canvas td.area .canvas-cell#early_adopters h3,.experiments .content-container table.canvas td.area .canvas-cell#early_adopters li {
	font-size: 0.7em
}

.canvas .content-container table.canvas td.area .half-canvas-cell,.snapshots .content-container table.canvas td.area .half-canvas-cell,.risks .content-container table.canvas td.area .half-canvas-cell,.canvas.wizard .content-container table.canvas td.area .half-canvas-cell,.experiments .content-container table.canvas td.area .half-canvas-cell {
	height: 65%
}

.canvas .content-container table.canvas td.area h3,.snapshots .content-container table.canvas td.area h3,.risks .content-container table.canvas td.area h3,.canvas.wizard .content-container table.canvas td.area h3,.experiments .content-container table.canvas td.area h3 {
	font-family: Helvetica;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 .3em 5px;
	padding-right: 24px;
	font-size: 16px;
	color: #222;
	position: relative
}

.canvas .content-container table.canvas td.area h3 strong,.snapshots .content-container table.canvas td.area h3 strong,.risks .content-container table.canvas td.area h3 strong,.canvas.wizard .content-container table.canvas td.area h3 strong,.experiments .content-container table.canvas td.area h3 strong {
	font-size: 24px
}

.canvas .content-container table.canvas td.area h3 .help,.snapshots .content-container table.canvas td.area h3 .help,.risks .content-container table.canvas td.area h3 .help,.canvas.wizard .content-container table.canvas td.area h3 .help,.experiments .content-container table.canvas td.area h3 .help {
	display: none;
	position: absolute;
	top: 0px;
	right: 4px
}

.canvas .content-container table.canvas td.area h3 .help a.new,.snapshots .content-container table.canvas td.area h3 .help a.new,.risks .content-container table.canvas td.area h3 .help a.new,.canvas.wizard .content-container table.canvas td.area h3 .help a.new,.experiments .content-container table.canvas td.area h3 .help a.new {
	padding: 0px 2px;
	color: #fff;
	background-color: #0099FF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px
}

.canvas .content-container table.canvas td.area h3 .help a.new:hover,.snapshots .content-container table.canvas td.area h3 .help a.new:hover,.risks .content-container table.canvas td.area h3 .help a.new:hover,.canvas.wizard .content-container table.canvas td.area h3 .help a.new:hover,.experiments .content-container table.canvas td.area h3 .help a.new:hover {
	text-decoration: none
}

.canvas .content-container table.canvas td.area h3 .help h4,.snapshots .content-container table.canvas td.area h3 .help h4,.risks .content-container table.canvas td.area h3 .help h4,.canvas.wizard .content-container table.canvas td.area h3 .help h4,.experiments .content-container table.canvas td.area h3 .help h4 {
	background: url("/images/help.png") no-repeat;
	cursor: pointer;
	height: 18px;
	width: 18px
}

.canvas .content-container table.canvas td.area h3 .help h4 span,.snapshots .content-container table.canvas td.area h3 .help h4 span,.risks .content-container table.canvas td.area h3 .help h4 span,.canvas.wizard .content-container table.canvas td.area h3 .help h4 span,.experiments .content-container table.canvas td.area h3 .help h4 span {
	display: none
}

.canvas .content-container table.canvas td.area h3 .help .text,.snapshots .content-container table.canvas td.area h3 .help .text,.risks .content-container table.canvas td.area h3 .help .text,.canvas.wizard .content-container table.canvas td.area h3 .help .text,.experiments .content-container table.canvas td.area h3 .help .text {
	display: none;
	position: absolute;
	top: 11px;
	left: 11px;
	background-color: #eee;
	color: #333;
	font-size: 14px;
	z-index: 1;
	padding: 5px 8px 6px 8px;
	width: 200px;
	border: 1px solid #999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px
}

.canvas .content-container table.canvas td.area h3 .help:hover .text,.snapshots .content-container table.canvas td.area h3 .help:hover .text,.risks .content-container table.canvas td.area h3 .help:hover .text,.canvas.wizard .content-container table.canvas td.area h3 .help:hover .text,.experiments .content-container table.canvas td.area h3 .help:hover .text {
	display: block
}

.canvas .content-container table.canvas td.area ol,.snapshots .content-container table.canvas td.area ol,.risks .content-container table.canvas td.area ol,.canvas.wizard .content-container table.canvas td.area ol,.experiments .content-container table.canvas td.area ol {
	margin: 0;
	color: #000
}

.canvas .content-container table.canvas td.area ol li,.snapshots .content-container table.canvas td.area ol li,.risks .content-container table.canvas td.area ol li,.canvas.wizard .content-container table.canvas td.area ol li,.experiments .content-container table.canvas td.area ol li {
	position: relative;
	width: 100%;
	list-style-type: none;
	font-size: 90%
}

.canvas .content-container table.canvas td.area ol li .show,.snapshots .content-container table.canvas td.area ol li .show,.risks .content-container table.canvas td.area ol li .show,.canvas.wizard .content-container table.canvas td.area ol li .show,.experiments .content-container table.canvas td.area ol li .show {
	margin-left:-12px;
	margin-right: 24px;
	padding: 3px 5px 5px 5px
}

.canvas .content-container table.canvas td.area ol li div.editing,.snapshots .content-container table.canvas td.area ol li div.editing,.risks .content-container table.canvas td.area ol li div.editing,.canvas.wizard .content-container table.canvas td.area ol li div.editing,.experiments .content-container table.canvas td.area ol li div.editing {
	background-color: #BDE5F0
}

.canvas .content-container table.canvas td.area ol li span.warning,.snapshots .content-container table.canvas td.area ol li span.warning,.risks .content-container table.canvas td.area ol li span.warning,.canvas.wizard .content-container table.canvas td.area ol li span.warning,.experiments .content-container table.canvas td.area ol li span.warning {
	color: #A8A8A8;
	font-size: 0.8em
}

.canvas .content-container table.canvas td.area ol li.saving,.snapshots .content-container table.canvas td.area ol li.saving,.risks .content-container table.canvas td.area ol li.saving,.canvas.wizard .content-container table.canvas td.area ol li.saving,.experiments .content-container table.canvas td.area ol li.saving {
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	margin-left: 0.7em;
	color: #CCC;
	background: transparent url(/images/spinner.gif) no-repeat 0 0;
	padding-left: 20px
}

.canvas .content-container table.canvas td.area span.bottom,.snapshots .content-container table.canvas td.area span.bottom,.risks .content-container table.canvas td.area span.bottom,.canvas.wizard .content-container table.canvas td.area span.bottom,.experiments .content-container table.canvas td.area span.bottom {
	width: 90%
}

.canvas .content-container table.canvas td.area span.bottom .comments_section,.snapshots .content-container table.canvas td.area span.bottom .comments_section,.risks .content-container table.canvas td.area span.bottom .comments_section,.canvas.wizard .content-container table.canvas td.area span.bottom .comments_section,.experiments .content-container table.canvas td.area span.bottom .comments_section {
	float: left
}

.canvas .content-container table.canvas td.area span.bottom a.add,.snapshots .content-container table.canvas td.area span.bottom a.add,.risks .content-container table.canvas td.area span.bottom a.add,.canvas.wizard .content-container table.canvas td.area span.bottom a.add,.experiments .content-container table.canvas td.area span.bottom a.add {
	margin-right: 3px;
	display: block
}

.canvas .content-container table.canvas td.area span.bottom .comments.icon,.canvas .content-container table.canvas td.area span.bottom .experiments.icon,.snapshots .content-container table.canvas td.area span.bottom .comments.icon,.snapshots .content-container table.canvas td.area span.bottom .experiments.icon,.risks .content-container table.canvas td.area span.bottom .comments.icon,.risks .content-container table.canvas td.area span.bottom .experiments.icon,.canvas.wizard .content-container table.canvas td.area span.bottom .comments.icon,.canvas.wizard .content-container table.canvas td.area span.bottom .experiments.icon,.experiments .content-container table.canvas td.area span.bottom .comments.icon,.experiments .content-container table.canvas td.area span.bottom .experiments.icon {
	width: 3em;
	padding: 0.6em;
	background-color: #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px
}

.canvas .content-container table.canvas td.area span.bottom img,.snapshots .content-container table.canvas td.area span.bottom img,.risks .content-container table.canvas td.area span.bottom img,.canvas.wizard .content-container table.canvas td.area span.bottom img,.experiments .content-container table.canvas td.area span.bottom img {
	margin-bottom: -4px;
	width: 1.5em
}

.canvas .content-container table.canvas td.area a.black,.snapshots .content-container table.canvas td.area a.black,.risks .content-container table.canvas td.area a.black,.canvas.wizard .content-container table.canvas td.area a.black,.experiments .content-container table.canvas td.area a.black {
	color: black;
	font-size: 0.7em
}

.canvas .content-container table.canvas td.area a.black:hover,.snapshots .content-container table.canvas td.area a.black:hover,.risks .content-container table.canvas td.area a.black:hover,.canvas.wizard .content-container table.canvas td.area a.black:hover,.experiments .content-container table.canvas td.area a.black:hover {
	color: black
}

.canvas .content-container table.canvas td.area:hover,.canvas .content-container table.canvas td.area.edit,.snapshots .content-container table.canvas td.area:hover,.snapshots .content-container table.canvas td.area.edit,.risks .content-container table.canvas td.area:hover,.risks .content-container table.canvas td.area.edit,.canvas.wizard .content-container table.canvas td.area:hover,.canvas.wizard .content-container table.canvas td.area.edit,.experiments .content-container table.canvas td.area:hover,.experiments .content-container table.canvas td.area.edit {
	background-color: #ecf0fa
}

.canvas .content-container table.canvas td.area:hover h3 .help,.canvas .content-container table.canvas td.area.edit h3 .help,.snapshots .content-container table.canvas td.area:hover h3 .help,.snapshots .content-container table.canvas td.area.edit h3 .help,.risks .content-container table.canvas td.area:hover h3 .help,.risks .content-container table.canvas td.area.edit h3 .help,.canvas.wizard .content-container table.canvas td.area:hover h3 .help,.canvas.wizard .content-container table.canvas td.area.edit h3 .help,.experiments .content-container table.canvas td.area:hover h3 .help,.experiments .content-container table.canvas td.area.edit h3 .help {
	display: block
}

.canvas .content-container table.canvas td.running-experiments,.snapshots .content-container table.canvas td.running-experiments,.risks .content-container table.canvas td.running-experiments,.canvas.wizard .content-container table.canvas td.running-experiments,.experiments .content-container table.canvas td.running-experiments {
	border: 3px solid #33DD33
}

.canvas .content-container table.canvas td#customer_segments .help .text,.canvas .content-container table.canvas td#revenue_streams .help .text,.snapshots .content-container table.canvas td#customer_segments .help .text,.snapshots .content-container table.canvas td#revenue_streams .help .text,.risks .content-container table.canvas td#customer_segments .help .text,.risks .content-container table.canvas td#revenue_streams .help .text,.canvas.wizard .content-container table.canvas td#customer_segments .help .text,.canvas.wizard .content-container table.canvas td#revenue_streams .help .text,.experiments .content-container table.canvas td#customer_segments .help .text,.experiments .content-container table.canvas td#revenue_streams .help .text {
	left: -214px
}

.canvas .content-container .collaborators-container,.snapshots .content-container .collaborators-container,.risks .content-container .collaborators-container,.canvas.wizard .content-container .collaborators-container,.experiments .content-container .collaborators-container {
	background-color: #fff;
	color: #333;
	margin-top: 20px;
	padding: 0px;
	height: 64px;
	width: 98%
}

.canvas .content-container .collaborators-container ul,.snapshots .content-container .collaborators-container ul,.risks .content-container .collaborators-container ul,.canvas.wizard .content-container .collaborators-container ul,.experiments .content-container .collaborators-container ul {
	list-style: none;
	padding: 12px 8px;
	z-index: 1
}

.canvas .content-container .collaborators-container ul li,.snapshots .content-container .collaborators-container ul li,.risks .content-container .collaborators-container ul li,.canvas.wizard .content-container .collaborators-container ul li,.experiments .content-container .collaborators-container ul li {
	display: inline;
	float: left
}

.canvas .content-container .collaborators-container .person,.snapshots .content-container .collaborators-container .person,.risks .content-container .collaborators-container .person,.canvas.wizard .content-container .collaborators-container .person,.experiments .content-container .collaborators-container .person {
	float: left;
	padding-right: 20px
}

.canvas .content-container .collaborators-container .icon,.snapshots .content-container .collaborators-container .icon,.risks .content-container .collaborators-container .icon,.canvas.wizard .content-container .collaborators-container .icon,.experiments .content-container .collaborators-container .icon {
	float: left;
	padding-right: 6px;
	position: relative
}

.canvas .content-container .collaborators-container .icon .status,.snapshots .content-container .collaborators-container .icon .status,.risks .content-container .collaborators-container .icon .status,.canvas.wizard .content-container .collaborators-container .icon .status,.experiments .content-container .collaborators-container .icon .status {
	border: 1px solid white;
	border-right-color: #B9B9B9;
	border-bottom-color: #B9B9B9;
	height: 7px;
	position: absolute;
	width: 7px;
	z-index: 3;
	right: 6px;
	bottom: 4px;
	background-color: #CCC
}

.canvas .content-container .collaborators-container .icon .online,.snapshots .content-container .collaborators-container .icon .online,.risks .content-container .collaborators-container .icon .online,.canvas.wizard .content-container .collaborators-container .icon .online,.experiments .content-container .collaborators-container .icon .online {
	background-color: #5A5
}

.canvas .content-container .collaborators-container .name,.snapshots .content-container .collaborators-container .name,.risks .content-container .collaborators-container .name,.canvas.wizard .content-container .collaborators-container .name,.experiments .content-container .collaborators-container .name {
	float: left;
	padding-top: 8px;
	color: #000
}

.canvas .content-container .collaborators-container .left,.snapshots .content-container .collaborators-container .left,.risks .content-container .collaborators-container .left,.canvas.wizard .content-container .collaborators-container .left,.experiments .content-container .collaborators-container .left {
	float: left;
	padding: 0px;
	margin: 0px
}

.canvas .content-container .collaborators-container .right,.snapshots .content-container .collaborators-container .right,.risks .content-container .collaborators-container .right,.canvas.wizard .content-container .collaborators-container .right,.experiments .content-container .collaborators-container .right {
	float: right;
	padding-top: 8px
}

.canvas .content-container table td.area ol.empty li.new,.experiments .content-container table td.area ol.empty li.new {
	padding: 60px 0px 0px 0px;
	color: #0099ff;
	font-size: 500%;
	text-align: center
}

.canvas .content-container table td.area ol.empty li.new .help,.experiments .content-container table td.area ol.empty li.new .help {
	display: block
}

.canvas .content-container table td.area ol.empty li.new .fake-item,.experiments .content-container table td.area ol.empty li.new .fake-item {
	display: none
}

.canvas .content-container .add_experiment,.experiments .content-container .add_experiment {
	clear: left
}

.canvas .content-container .edit_experiment,.experiments .content-container .edit_experiment {
	width: 400px
}

.canvas .content-container .experiment_title,.experiments .content-container .experiment_title {
	border: 1px solid #aaa;
	color: black;
	margin-bottom: 8px;
	margin-left: 4px;
	display: block;
	float: left;
	clear: left
}

.canvas .content-container .experiment_title div.card,.experiments .content-container .experiment_title div.card {
	float: left;
	padding-right: 12px;
	width: 160px
}

.canvas .content-container .experiment_title a.experiment_action,.experiments .content-container .experiment_title a.experiment_action {
	float: left;
	width: auto;
	padding-right: 4px;
	text-decoration: underline;
	margin-top: 9px
}

.canvas .content-container .experiment_title a.experiment_action:hover,.experiments .content-container .experiment_title a.experiment_action:hover {
	color: black
}

.canvas .content-container li.experiment_title:hover,.experiments .content-container li.experiment_title:hover {
	cursor: default
}

.canvas.wizard .content-container {
	width: 680px
}

.canvas.wizard .content-container .wizard-steps {
	position: relative;
	overflow: hidden;
	margin-bottom: 2em
}

.canvas.wizard .content-container .wizard-steps .line {
	width: 480px;
	height: 1px;
	margin-left: 60px;
	background-color: #226622;
	position: absolute;
	top: 25px
}

.canvas.wizard .content-container .wizard-steps .step {
	float: left
}

.canvas.wizard .content-container .wizard-steps .step .number {
	display: block;
	width: 50px;
	height: 41px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	text-align: center;
	font-size: 30px;
	font-family: Helvetica;
	margin-left: 35px;
	padding-top: 9px;
	color: #114411;
	background-color: #226622;
	position: relative;
	z-index: 1
}

.canvas.wizard .content-container .wizard-steps .step .number:hover {
	background-color: #44EE44;
	text-decoration: none
}

.canvas.wizard .content-container .wizard-steps .step .info {
	font-size: 70%;
	width: 120px;
	text-align: center;
	margin-top: 6px;
	color: #555
}

.canvas.wizard .content-container .wizard-steps .step.current .number {
	background-color: #44EE44
}

.canvas.wizard .content-container .wizard-steps .step.current .info {
	color: inherit
}

.canvas.wizard .content-container .introduction {
	margin-bottom: 1.5em
}

.canvas.wizard .content-container table.canvas {
	height: auto;
	margin-bottom: 1.5em
}

.canvas.wizard .content-container table.canvas td.area {
	height: 150px
}

.canvas.wizard .content-container table.canvas td.area h3 .help {
	display: none !important
}

.canvas.wizard .content-container .continue {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #44EE44;
	color: #114411;
	padding: 5px 15px
}

.canvas.wizard .content-container .or {
	margin-left: .4em;
	font-size: 80%
}

.canvas.wizard .content-container .exit {
	font-size: 80%
}

#product_form,#canvas_form,.introduction,table td.help {
	color: #DDDDDD;
	background-color: #444;
	padding: .8em 1em;
	letter-spacing: 0.03em;
	font-size: 100%
}

#product_form,#canvas_form .field_with_label {
	margin-bottom: 0
}

#product_form input,#canvas_form .field_with_label input {
	font-size: 20px
}


.canvas.updateable-canvas .content-container ol li .edit,.experiments.updateable-canvas .content-container ol li .edit,.canvas.wizard.updateable-canvas .content-container ol li .edit {
	display: none;
	padding-right: 29px
}

.canvas.updateable-canvas .content-container ol li .edit .textarea-container,.experiments.updateable-canvas .content-container ol li .edit .textarea-container,.canvas.wizard.updateable-canvas .content-container ol li .edit .textarea-container {
	position: relative;
	margin-bottom: 2px
}

.canvas.updateable-canvas .content-container ol li .edit .textarea-container .position,.experiments.updateable-canvas .content-container ol li .edit .textarea-container .position,.canvas.wizard.updateable-canvas .content-container ol li .edit .textarea-container .position {
	position: absolute;
	color: #000;
	top: 2px;
	left: 5px
}

.canvas.updateable-canvas .content-container ol li .edit .textarea-container textarea,.experiments.updateable-canvas .content-container ol li .edit .textarea-container textarea,.canvas.wizard.updateable-canvas .content-container ol li .edit .textarea-container textarea {
	display: block;
	width: 100%;
	margin-left: 1px;
	padding: 1px 3px 3px 3px;
	line-height: 20px
}

.canvas.updateable-canvas .content-container ol li .edit .submit,.experiments.updateable-canvas .content-container ol li .edit .submit,.canvas.wizard.updateable-canvas .content-container ol li .edit .submit {
	font-size: 12px;
	margin-right: 2px;
	width: 5.2em
}

.canvas.updateable-canvas .content-container ol li .edit .or,.experiments.updateable-canvas .content-container ol li .edit .or,.canvas.wizard.updateable-canvas .content-container ol li .edit .or {
	color: #555 !important;
	font-size: 12px
}

.canvas.updateable-canvas .content-container ol li .edit .cancel,.experiments.updateable-canvas .content-container ol li .edit .cancel,.canvas.wizard.updateable-canvas .content-container ol li .edit .cancel {
	color: #f00 !important;
	font-size: 12px;
	margin-left: 3px
}

.canvas.updateable-canvas .content-container ol li .actions,.experiments.updateable-canvas .content-container ol li .actions,.canvas.wizard.updateable-canvas .content-container ol li .actions {
	display: none;
	position: absolute;
	top: 7px;
	right: 7px;
	right: 10px;
	width: auto
}

.canvas.updateable-canvas .content-container ol li .actions a.delete,.experiments.updateable-canvas .content-container ol li .actions a.delete,.canvas.wizard.updateable-canvas .content-container ol li .actions a.delete {
	float: left;
	display: block;
	width: 11px;
	height: 12px;
	background: url("/images/delete.gif") no-repeat;
	text-decoration: none
}

.canvas.updateable-canvas .content-container ol li .actions a.move,.experiments.updateable-canvas .content-container ol li .actions a.move,.canvas.wizard.updateable-canvas .content-container ol li .actions a.move {
	float: left;
	display: block;
	width: 9px;
	height: 9px;
	background: url("/images/move.png") no-repeat;
	text-decoration: none;
	height: 18px;
	margin-top: -2px;
	padding-right: 5px;
	width: 18px
}

.canvas.updateable-canvas .content-container ol li.new,.experiments.updateable-canvas .content-container ol li.new,.canvas.wizard.updateable-canvas .content-container ol li.new {
	color: #202020;
	font-size: 80%
}

.canvas.updateable-canvas .content-container ol li.new .show,.experiments.updateable-canvas .content-container ol li.new .show,.canvas.wizard.updateable-canvas .content-container ol li.new .show {
	margin-right: 4px
}

.canvas.updateable-canvas .content-container ol li.new .help,.experiments.updateable-canvas .content-container ol li.new .help,.canvas.wizard.updateable-canvas .content-container ol li.new .help {
	display: none
}

.canvas.updateable-canvas .content-container ol li.new form.edit,.experiments.updateable-canvas .content-container ol li.new form.edit,.canvas.wizard.updateable-canvas .content-container ol li.new form.edit {
	padding-bottom: 4px
}

.canvas.updateable-canvas .content-container ol li:hover,.experiments.updateable-canvas .content-container ol li:hover,.canvas.wizard.updateable-canvas .content-container ol li:hover {
	color: inherit
}

.canvas.updateable-canvas .content-container ol li:hover .show:hover,.experiments.updateable-canvas .content-container ol li:hover .show:hover,.canvas.wizard.updateable-canvas .content-container ol li:hover .show:hover {
	background-color: #fafafa;
	cursor: move
}

.canvas.updateable-canvas .content-container ol li:hover .actions,.experiments.updateable-canvas .content-container ol li:hover .actions,.canvas.wizard.updateable-canvas .content-container ol li:hover .actions {
	display: block
}

.canvas.updateable-canvas .content-container ol li.new:hover .show:hover,.experiments.updateable-canvas .content-container ol li.new:hover .show:hover,.canvas.wizard.updateable-canvas .content-container ol li.new:hover .show:hover {
	cursor: move;
	background-color: #ecf0fa
}

.canvas.updateable-canvas .content-container ol li.edit .show,.experiments.updateable-canvas .content-container ol li.edit .show,.canvas.wizard.updateable-canvas .content-container ol li.edit .show {
	display: none
}

.canvas.updateable-canvas .content-container ol li.edit .actions,.experiments.updateable-canvas .content-container ol li.edit .actions,.canvas.wizard.updateable-canvas .content-container ol li.edit .actions {
	display: none
}

.canvas.updateable-canvas .content-container ol li.edit .edit,.experiments.updateable-canvas .content-container ol li.edit .edit,.canvas.wizard.updateable-canvas .content-container ol li.edit .edit {
	display: block
}

.canvas.updateable-canvas .content-container ol.empty li.new:hover,.experiments.updateable-canvas .content-container ol.empty li.new:hover,.canvas.wizard.updateable-canvas .content-container ol.empty li.new:hover {
	color: #0099ff
}


#canvas {
	position: relative;
	display: block;
	float: left;
	margin-top: 8px;
	margin-left:-10px;
	width: 1024px
}


ol.sortable li:last-child {
	margin-bottom: 18px
}

div.show:hover {
	cursor: move !important
}

.canvas-comments-container {
	float: left;
	width: 100%;
	color: #222;
	font-size: smaller;
	margin-top: 20px;
	border-top: 1px solid #6a6a6a
}

.canvas-comments-container h5 {
	margin-top: 10px;
	margin-bottom: 5px
}

.canvas-comments-container ul {
	list-style-type: none;
	margin-left: 0px
}

.canvas-comments-container ul li {
	min-height: 36px;
	list-style: none;
	margin-bottom: 5px
}

.canvas-comments-container #comment_content {
	width: 100%
}

.canvas-comments-container .avatar {
	float: left;
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 8px
}

.canvas-comments-container .info {
	color: #828282;
	margin-bottom: 2px
}

.show .content {
	font-size:14px;
}


.canvas{
	width:1150px;
}

.ideas-list h2{
	font-family:georgia,serif;
}

.canvas .content-container table.canvas td.area h3, .snapshots .content-container table.canvas td.area h3, .risks .content-container table.canvas td.area h3, .canvas.wizard .content-container table.canvas td.area h3, .experiments .content-container table.canvas td.area h3{
	font-family:georgia,serif;
}

.ideas-list p{
	font-family:georgia,serif;
}

}