// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea-table-id {
	width: 30px;
}


.idea-table-name{
	width:200px;
}


.idea-table-intro{
	width:470px;
}

.idea-table-id p,.idea-table-name p,.idea-table-intro p,.idea-table-oper p{
font-size: 16px;
}

.user-share-part a:visited {
	color: white;

}

.updatelink a:visited{
	color:#428bca;
}

.register-sec
{
	background-color: #ecf0f4;
}

.register-win{
	width: 430px;
	padding: 60px 60px 40px;
	background: #fff;
	text-align: center;
	margin: 40px auto 20px;
	overflow: hidden;
}

.register-win h1{
	font-size: 24px;
	color: #888;
	font-weight: normal;
	margin-bottom: 30px;
}