 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[明星产品推荐：快驴]]></Title> 
 <Description><![CDATA[快驴,快捷安全，找到心仪驴友，一起去旅行。]]></Description>
 <PicUrl><![CDATA[http://www.productgaga.com/assets/kuailv-features.png]]></PicUrl>
 <Url><![CDATA[http://www.productgaga.com/ideas/56]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>