 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[申请邀请码]]></Title> 
 <Description><![CDATA[Productgaga,帮助创业者，找钱，找用户，实现产品。需申请邀请码方可享受服务。]]></Description>
 <PicUrl><![CDATA[http://www.productgaga.com/assets/hero-home03.jpg]]></PicUrl>
 <Url><![CDATA[http://www.productgaga.com/static_pages/invitecode]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>