<footer class="footer">
  <small>

    <%= link_to "快钱海外钱包", root_path%>
    by CUI Wei（99bill Product Manager)
  </small>
<!--
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
-->
</footer>